[user]
  name = Kenichi Nakamura
  email = kenichi.nakamura@gmail.com
[color]
  ui = auto
[alias]
  ci = commit
  co = checkout
  re = remote
  br = branch
  st = status
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[core]
  excludesfile = ~/.gitignore
; [url "git@github.com:"]
;     insteadOf = https://github.com/
[pull]
  rebase = false
[init]
  defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
