[user]
    name = Kenichi Nakamura
    email = kenichi.nakamura@gmail.com
[color]
    ui = auto
[alias]
    ci = commit
    co = checkout
    re = remote
    br = branch
    st = status
    d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[core]
    excludesfile = ~/.gitignore
